name: AQI Hot Weather Data Update
 
on:
  schedule:
    - cron: '30 16 * * *'   # Runs every 6 hours
  workflow_dispatch:       # Allows manual trigger
 
jobs:
  run-script:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
 
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
 
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pandas gspread gspread_dataframe
 
      - name: Run AQI data pipeline
        env:
          GSHEET_CREDENTIALS: ${{ secrets.GSHEET_CREDENTIALS }}
        run: |
          python air_index.py
